
*{
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    width: 100%;
    background-color: #f0f2f5;
}
form{
    background-color: #fff;
    position: absolute;
    width: 320px;
    height: 270px;
    padding: 10px 5px 20px 5px;
    margin: -10vh 850px;
    border-radius: 5px;
    box-shadow: 5px 5px 6px;
}
input[type='text'],input[type='password']{
    display: block;
    margin: auto;
    border: 1.5px solid rgb(200, 200, 200);
    width: 200px;
    padding: 10px 40px ;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-size: 15px;

}
button{
    border: none;
    background-color: #1877f2;
    color: wheat;
    margin: auto;
    width: 283px;
    display: block;
    border-radius: 5px;
    padding: 10px 0px;
    cursor: pointer;
}
.f_pass{
    display: block;
    width: 200px;
    margin: auto;
    color: #1877f2;
    padding-left: 80px;
}
.line{
    border-top: 1px;
    opacity: 0.2;
}
.btn-2{
    width: 180px;
    font-size: 14px;
    background-color: green;
    text-align: center;
}
.f-pic{
    width: 350px;
    margin-left: 300px;
    margin-top: 30vh;
}
.f-pic img{
    width: 250px;
}
p{
    font-size: 20px;
    font-weight: 600;
    word-spacing: px;
}
.nv{
    background-color: #1877f2; 
}